<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>IDEFrameworks</string>
	<key>BuildVersion</key>
	<string>38</string>
	<key>CFBundleShortVersionString</key>
	<string>11.4</string>
	<key>CFBundleVersion</key>
	<string>16134</string>
	<key>ProductBuildVersion</key>
	<string>11E146</string>
	<key>ProjectName</key>
	<string>IDEFrameworks</string>
	<key>SourceVersion</key>
	<string>16134000000000000</string>
</dict>
</plist>
